<form action="/adicionar" method="post">
    <label>user</label>
    <input id="user" name="user" type="text"/>
    <label>nome</label>
    <input id="nome" name="nome" type="text"/>
    <label>senha</label>
    <input id="senha" name="senha" type="text"/>
    <button type="submit">Enviar</button>
</form>